body {
    height: 100%;
    width: 100%;
    min-width: 500px;
    min-height: 500px;
}

main {
    font-family: 'Castoro', serif;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(82, 68, 59, 1) 0%, #7b8556b8 100%, rgba(0, 212, 255, 1) 100%); */
    background-color: red;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 120px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top: 70px;
}

.logo img {
    width: 250px;
    height: 60px;
    /* border: 1px solid red; */
    /* border-radius: 25px; */
}

.logo p {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-top: -5px;
}

.logo span {
    white-space: nowrap;
}

.info-container {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: -10px;
    font-size: 12px;
    color: silver;
}

.contact-info-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.contact-info-box p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.specs-box-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    width: 25vw;
}

.specs-box-container p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.specs-names {
    align-self: flex-end;
    text-align: right;
}

.specs-values {
    align-self: flex-end;
}

/* sidebars */

.instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 500px;
    left: 0px;
    top: 200px;
    position: fixed;
    z-index: 1;
}

.instructions-burger-container {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    opacity: 0.5;
}

.instructions-burger {
    background-color: gray;
    margin-top: 10px;
    height: 50%;
    opacity: 1;
    border-radius: 25px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.instructions-burger p {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 13px;
    font-weight: bold;
}

.instructions-content {
    height: 420px;
    width: 100%;
    margin-top: 122px;
    margin-left: 15px;
    padding: 0px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: bold;
    color: blueviolet;
    white-space: nowrap;
    position: fixed;
}

.instructions-content p:nth-child(1) {
    margin-left: -7px;
}

.instructions-content p:nth-child(2) {
    margin-left: -3px;
    margin-top: -6px;
}

.instructions-content p:nth-child(3) {
    margin-left: -9px;
}

.instructions-content p:nth-child(4) {
    margin-left: 2px;
    margin-top: -6px;
}

.nextGame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 500px;
    right: 0px;
    top: 200px;
    position: fixed;
    z-index: 1;
}

.nextGame-burger-container {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    opacity: 0.5;
}

.nextGame-burger {
    background-color: gray;
    margin-top: 10px;
    height: 50%;
    width: 85px;
    opacity: 1;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;
}

.nextGame-burger p {
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 10px;
}

.nextGame-burger a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* loading */

.loader-container {
    height: 500px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 200px;
    position: fixed;
    z-index: 1;
}

/* game */

.game {
    height: 500px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 200px;
    position: fixed;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(91, 85, 85, 1) 0%,
        rgba(111, 62, 1, 1) 100%,
        rgba(0, 212, 255, 1) 100%,
        rgba(123, 133, 86, 0.7231267507002801) 100%
    );
}

/* loading animation taken from https://codepen.io/lucasfernandodev/pen/poEjZrv */
.c-loader {
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    display: block;
    animation: is-rotating 1s infinite;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
/* end of loading animation */

#chess-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#space-gap {
    height: 500px;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    align-items: bottom;
}

.footer-container section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    height: 100%;
}

.average-rating-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    margin-top: 10px;
}

.new-rating-stars {
    margin-top: 10px;
}

.footer-container p {
    margin: 0px;
}

.footer-container p:nth-child(1) {
    font-style: italic;
    margin-bottom: 12px;
}

.footer-container p:nth-child(2) {
    margin-bottom: 5px;
}

input[type='submit'] {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px solid black;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.avg-stars {
    fill: #d8d8d8;
}

/* start of code from https://codepen.io/brianknapp/pen/JEotD/?editors=1111 */

.stars {
    cursor: pointer;
    display: flex;
}

.stars:hover .star polygon {
    fill: #ffcf55a4 !important;
}

.stars .star polygon {
    fill: #d8d8d8;
}

.stars .star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
}

.stars[data-stars] .star polygon {
    fill: #ffd055;
}

.stars[data-stars='1'] .star:nth-child(1) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars='2'] .star:nth-child(2) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars='3'] .star:nth-child(3) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars='4'] .star:nth-child(4) ~ .star polygon {
    fill: #d8d8d8;
}

.stars[data-stars='5'] .star:nth-child(5) ~ .star polygon {
    fill: #d8d8d8;
}

/* end of code from https://codepen.io/brianknapp/pen/JEotD/?editors=1111 */

/* altered code sourced from https://codepen.io/brianknapp/pen/JEotD/?editors=1111 */

/* end of altered code sourced from https://codepen.io/brianknapp/pen/JEotD/?editors=1111 */

/* MEDIA */

/* iphoneX max */

@media screen and (max-width: 812px) and (max-height: 375px) and (orientation: landscape) {
}

@media screen and (max-width: 500px) and (max-height: 620px) {
    body {
        overflow: hidden;
    }
    .footer-container {
        display: none;
    }
    .header-container {
        position: relative;
        top: 500px;
        margin-top: -20px;
        padding-bottom: 100px;
        background: linear-gradient(to top, #283e51, #0a2342);
    }
    .instructions,
    .nextGame,
    .game {
        top: 0px;
    }
    .game {
        left: 0px;
        margin-left: 0;
        border: 2px solid black;
    }
}

.hide {
    display: hidden;
}
